/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

  * {
     -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
             box-sizing: border-box;
   }



html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
    height: 100%;
    weight: 100%;
    overflow-y: scroll;
}

#wrapper {
    max-width:2560px;
    max-height:1200px;
    height: 100%;
    width: 100%;
    position: relative;
    margin: 0 auto;
}

.container {
    position: relative;
    display: block;
    height: 200px;
    border:4px solid #FF7F7F;
}


#happy {
    margin-left: auto;
    margin-right: auto;
    width: 10.5em;
    font-size: 26px;
}

#love {
  margin-left: auto;
  margin-right: auto;
  width: 11em;
  font-size: 26px;
}

#birthday {
  margin-left: auto;
  margin-right: auto;
  width: 29em;
  font-size: 24px;
}

#hbd {
  margin-left: auto;
  margin-right: auto;
  width: 22em;
  font-size: 24px;
}

#little {
  margin-left: 20%;
  font-size: 24px;
}

#middle {
  width: 50%;
  height: 80%;
}

#middlep {
  margin-top: 20%;
  margin-left: 10%;
  font-size: 24px;
}

#big {
width:60%;
height:90%;

}

#water {
  font-size:18px;
}

#pic {
  margin-left: auto;
  margin-right: auto;
  margin-top: 35%;
  width: 29em;
  font-size: 24px;
}

#picp {
  margin-top: 10%;
  margin-left: 10%;
  font-size: 24px;
}

#dad {
  margin-left: auto;
  margin-right: auto;
  margin-top: 20%;
  width: 34em;
  font-size: 24px;
}

#centerlastpic {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
@font-face {
	font-family: Kings;
	src: url(Kings.ttf);
}

body{
    background-image: url("EmptyStarfield.jpg");
    background-color: #000;
    font-family: Kings;
    font-size:16px;
    color:#fff;
    width: 100%;
    height: 100%;
    overflow: scroll;
}

a{
    color:#0b0;
}

.tooltip {
	position: relative;
	display: inline-block;
}

/* Tooltip text */
.tooltip .tooltiptext {
	visibility: hidden;
	width: 120px;
	background: #444;
	color: black;
	text-align: center;
	padding: 5px;
    border-radius: 2;
	left: 105%;
	top: -2px;
    /* Position the tooltip text*/
	position: absolute;
	z-index: 1;
    border:2px solid #888;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
	background: #666;
	visibility: visible;
}

button{

}
button:hover{
    background: #666;
}
button:disabled{
    cursor:default;
}
button:disabled:hover{
    background: #444;
}
button:focus {
	outline: none;
}
input:focus {
	outline: none;
}


.StoneC {
	color: #8B8D7A;

}

.GoldC {
	color: #D4AF37;

}

.EssenceC {
	color: #06B9B1;
}

.PhiloWrapper {
    top: 100%;
    left: 100%;
    margin-top: -305px;
    margin-left:-305px;
	position: fixed;
    width: 25vmin;
    height:25vmin;
}

.PhiloWrapper input {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 50px;
    height: 50px;
    margin: -27px;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border-radius: 1005;
    outline: none;
    cursor: pointer;
}

.Philo {
	background: -webkit-radial-gradient(white 66%, rgba(8,232,222));
	background: -o-radial-gradient(white 66%, rgba(8,232,222));
	background: -moz-radial-gradient(white 66%, rgba(8,232,222));
	background: radial-gradient(white 66%, rgba(8,232,222));
	width: 45vmin !important;
    height: 45vmin !important;
    top: 100%;
    left: 100%;
    margin-left: -15vmin !important;
    margin-top: -15vmin !important;
	position: fixed;
	border:4px solid red;
}

.PhiloText {
	font-size: 24px;
	color:  #663399;
    -webkit-border-radius: 20%;
    -moz-border-radius: 20%;
	text-align: center;
	position: absolute;
    width:180px;
	margin-top: 0px;
	margin-left: 0px;
    top: 10%;
    left: 50%;
    margin-left: -3.5vmax;
	z-index: 90000;
    pointer-events:none;
}

.deg180 {
    transform: translate(-250px);
    background: rgba(8,232,222);
    border: 2px solid #06B9B1;
}
.deg90 {
    transform: rotate(90deg) translate(-250px) rotate(-90deg);
}

.Philo:hover {
	border:4px solid #FF7F7F;
}

#myProgress {
    position: absolute;
    width: 100%;
    background-color: grey;
    margin-top:100px;
    font-size:12px;
    color: white;
}
#myBar {
    width: 1%;
    height: 20px;
    background-color: green;
}

#messageLog {
    width: 40vmax;
    height: 40vmin;
    padding: 20px;
    background-color: rgba(124,124,124,.4);
    position: fixed;
    overflow-y: auto;
    list-style: none;
    left:100%;
    top:0%;
    margin-left: -40vmax;
    margin-top: 5px;
    border: 2px solid #888;
}

#messageLog li {
    border-bottom: 1px solid rgba(124,124,124,1);
}

/* Ages */

#Ages {
    background-color: rgba(124,124,124,.4);
    border: 2px solid #888;
    position: relative;
    width: calc(100% - 40vmax - 12px);
    height: calc(100% - 52.6px);
    margin-top: 5px;
}

#PassiveAgeList {
    margin: 0;
    margin-top: 10px;
    margin-left: 10px;
    padding: 0;
    list-style: none;
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    overflow-y: scroll;
}

#ActiveAgeList {
    margin: 0;
    height: 50px;
    margin-top: 10px;
    margin-left: 10px;
    padding: 0;
    list-style: none;
    overflow: hidden;
    overflow-y: scroll;
}

#ActiveAges {
    width: auto;
    height: 100px;
    position: relative;
    border-bottom: 2px solid #888;
    text-align: center;
    font-size:18px;
}

#PassiveAges {
    text-align: center;
    font-size:18px;
}

#currentAge {
    list-style: none;
}

#currentAge li {
    padding-top: 20px;
}

#AgeExit {
    position: absolute;
    right: 10px;
    bottom: 10px;
}

#AgeActiveSelect {
    position: absolute;
    left: 10px;
    bottom: 10px;
    width: auto;
    display: inline-block;
}

.ageButton {
	background: #444;
    border:2px solid #888;
    border-radius: 2;
    cursor:pointer;
	padding: 10px;
    margin: 2.5px;
	font-family: Kings;
	font-size:10px;
	width: 10vmax;
}

.ageButton:hover {
    background: #666;
}

.ResourceTable {
    text-align: left;
    border:2px solid #888;
	background: #444;
	list-style-type: none;
    width: 130px;
    padding: 0;
    position: fixed;
    top: calc(40vmin - 5px);
    right: calc(40vmax - 130px);
}


#HomunculusTable {
	list-style-type: none;
	margin: 0;
	padding: 0;
	float: left;
    background: #444;
}

#HomunculusButtons {
	margin-top: 5px;
	width: 200px;
}

#Main {
    position: absolute;
    margin: auto;
}

#GatherButtons {
    margin-top: 5px;
	width: 200px;
    position:absolute;
}

#GatherButtons:hover {
    background: #666;
}

.resourceButton {
	background: #444;
    border:2px solid #888;
    border-radius: 2;
    cursor:pointer;
	padding: 20px;
	font-family: Kings;
	font-size:16px;
	width: 100%;
}

.utilButton {
	background: #444;
    border:2px solid #888;
    border-radius: 2;
    cursor:pointer;
	padding: 5px;
	font-family: Kings;
	font-size:16px;
	width: 120px;
    color: white;
}

.utilButton:hover {
    background: #666;
}

#navbar {
    list-style:none;
    margin:0;
    padding:0;
}

#navbar li {
    display: inline-block;
}


::-webkit-scrollbar {
    width: 0px;
    background: transparent;
}












/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */
 .noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}

.hidden {
    display: none !important;
}

.textOutline {
	text-shadow: 1px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -1px 0 0 #000;
}
/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
    white-space: nowrap; /* 1 */
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    clip-path: none;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
    white-space: inherit;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (min-resolution: 1.25dppx),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   http://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important; /* Black prints faster:
                                   http://www.sanbeiji.com/archives/953 */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre {
        white-space: pre-wrap !important;
    }
    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
